<div class="section-rsvp-background-small"></div>
<section class="section section-rsvp" id="section-rsvp">
	<div class="container">
		<div class="row">
			<div class="section-content" id="formContent">
				<div class="form-toggle-box">
					<h2 class="section-heading">r.s.v.p.</h2>
					<div class="section-copy">
						<div class="form-line">
							<span>Kindly respond by August 12, 2017</span><br/>
							<span>We have reserved {{numSeats}} seats in your honor</span><br/>
						</div>
						<form id="rsvp">
							<div class="form-group">
								{{#each guests}}
									<div class="form-line">
										<span class="guest-name {{#nonexistent name_unknown}}has-name{{/nonexistent}}">{{name}}</span>
										<div class="guest-entry">
											{{#exists name_unknown}}
												{{#if name_unknown}}
													<input type="text" class="form-control plus-one-name-entry" placeholder="Guest's Name">
												{{else}}
													<input type="text" class="form-control plus-one-name-entry" value={{name_entry}}>
												{{/if}}
											{{/exists}}
											<select name="rsvp" id="rsvp-{{@index}}">
												<option
													{{#eq status 'no response'}}selected{{/eq}}
												>No response</option>
												<option
													{{#eq status 'attending'}}selected{{/eq}}
												>Attending</option>
												<option
													{{#eq status 'decline'}}selected{{/eq}}
												>Regretfully decline</option>
											</select>
										</div>
									</div>
								{{/each}}
								{{#each guests}}
									{{#exists drinks}}
										<div class="form-line">
											<span>What's your drink of choice?</span>
											<input type="text" id="drink-selection" class="form-control" value="{{drinks}}">
										</div>
									{{/exists}}
									{{#exists songs}}
										<div class="form-line">
											<span>What are your favorite songs to dance to?</span>
											<input id="song-selection" class="form-control" value="{{songs}}">
										</div>
									{{/exists}}
								{{/each}}
							</div>
						</form>
						<div class="form-button-container">
							<button class="btn form-button" id="saveRsvp">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div class="section-content hid" id="formSaveMessage">
				<div class="form-toggle-box">
					<h3>Thank you! Your selections have been saved.</h3>
					<span>Need to make changes? No worries.</span>
					<div class="form-button-container">
						<button class="btn form-button" id="updateSelections">Update RSVP</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
